<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách nhân viên</title>
</head>
<body>
<h2>Danh sách nhân viên</h2>
<a href="add"> Add</a>
<table border="1">

    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Date of Birth</th>
        <th>Phone</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.dateOfBirth}"></td>
        <td th:text="${employee.phone}"></td>
        <td ><a th:href="@{/Edit(editId=${employee.id})} " > Edit</a></td>
        <td ><a th:href="@{/delete(deleteId=${employee.id})} " > Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
